body {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    height: 50px;
    text-align: left;
    background-color: green;
    color: white;
}

td {
    height: 50px;
    vertical-align: bottom;
    padding: 5px;
}

table, th, td {
   border: 1px solid green;
}


